@using APIVenda.Data.Enum;
@using FrontVenda.Models


@model FrontVenda.Models.Funcionario

<body>
    @if (ViewBag.Alerta != string.Empty && ViewBag.Alerta != null)
    {
        <script type="text/javascript">
            alert('@ViewBag.Alerta');
        </script>
    }
    <h3 id="divTitulo">Cadastro</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="nomeFuncionario">Nome do Funcionário</label>
                    @Html.TextBoxFor(model => model.nome, new { @class = "form-control" ,@placeholder="Nome do Funcionário",@value=Model.nome })
                </div>
                <div class="form-group">
                    <label class="control-label" for="telefone">Telefone</label>
                    @Html.TextBoxFor(model => model.telefone, new { @class = "form-control" , @placeholder="XXXXXXX-XXXX",@value=Model.telefone })
                </div>
                <div class="form-group">
                    <label class="control-label" for="endereco">Endereço</label>
                    @Html.TextBoxFor(model => model.endereco, new { @class = "form-control", @placeholder="Endereço",@value=Model.endereco })
                </div>
                <div class="form-group">
                    <label class="control-label" for="cpf">CPF</label>
                    @Html.TextBoxFor(model => model.cpf, new { @class = "form-control validaDesabilita", @placeholder="XXX.XXX.XXX-XX",@value=Model.cpf})
                </div>
                <div class="cargos">
                    <label class="control-label" for="cargos">Cargos</label>
                    @Html.DropDownListFor(model => model.cargo, new SelectList(new EnumCargoModel().MostraCargos(), "Id", "Nome"), new { @class = "cargos control-label custom-select form-controll" })
                </div>
            </div>
            @Html.HiddenFor(model => model.id, new{@value=Model.id})
            @Html.AntiForgeryToken()

            <div>
                <button class="btn btn-primary" id="btnEnviar" onclick="cadastroFuncionario()">Enviar</button>
            </div>
            <div id="aa">
                <button class="btn btn-primary" id="btnVoltar" onclick="openInNewTab('/Funcionario/ExibeFuncionario')">Voltar</button>
            </div>
        </div>
    </div>
    <script src="/js/funcionario.js"></script>
    <script>
        document.getElementById('funcionario').classList.add('active');

        document.getElementById('cliente').classList.remove('active');
        document.getElementById('fornecedor').classList.remove('active');
        document.getElementById('produto').classList.remove('active');
    </script>
</body>