@model List<FuncionarioGet>;

<body>
    @if (ViewBag.Alerta != string.Empty && ViewBag.Alerta != null)
    {
        <script type="text/javascript">
            alert('@ViewBag.Alerta');
        </script>
    }
    <h1 class="titulo-principal">Funcionários</h1>
    <section class="lista">
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col" style="width:5%" >Id</th>
                    <th scope="col" style="width:25%">Nome</th>
                    <th scope="col" style="width:15%">CPF</th>
                    <th scope="col" style="width:15%">Telefone</th>
                    <th scope="col" style="width:35%">Endereço</th>
                    <th scope="col" style="width:5%" >Cargo</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.id)</td>
                        <td>@Html.DisplayFor(modelItem => item.nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.cpf)</td>
                        <td>@Html.DisplayFor(modelItem => item.telefone)</td>
                        <td>@Html.DisplayFor(modelItem => item.endereco)</td>
                        <td>@Html.DisplayFor(modelItem => item.cargo)</td>
                        <td>
                            @Html.ActionLink(
                        " ",
                        "EditarFuncionario",
                        "Funcionario",
                        new {id = item.id},
                        new {@class="btn btn-default fa fa-pencil"}
                        )
                        </td>
                        <td>
                            @Html.ActionLink(
                        " ",
                        "ExcluirFuncionario",
                        "Funcionario",
                        new {id = item.id},
                        new {@class="btn btn-default fa fa-trash"}
                        )
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <div id="botao-cadastrar">
        <a class="btn btn-primary" asp-controller="Funcionario" asp-action="CadastroFuncionario">CADASTRAR</a>
    </div>
    <script>
        document.getElementById('funcionario').classList.add('active');

        document.getElementById('cliente').classList.remove('active');
        document.getElementById('fornecedor').classList.remove('active');
        document.getElementById('produto').classList.remove('active');
    </script>
</body>