@using FrontVenda.Models


@model FrontVenda.Models.Fornecedor

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Fornecedor</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    @if (ViewBag.Alerta != string.Empty && ViewBag.Alerta != null)
    {
        <script type="text/javascript">
            alert('@ViewBag.Alerta');
        </script>
    }
    <h3>Cadastro</h3>
    @using (Html.BeginForm("CadastroFornecedorForm", "Fornecedor", FormMethod.Post))
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="nomeFornecedor">Nome do Fornecedor</label>
                        @Html.TextBoxFor(model => model.nome, new { @class = "form-control" ,@placeholder="Nome do Fornecedor" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="telefone">Telefone</label>
                        @Html.TextBoxFor(model => model.telefone, new { @class = "form-control" , @placeholder="XXXXXXX-XXXX" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="cnpj">CNPJ</label>
                        @Html.TextBoxFor(model => model.cnpj, new { @class = "form-control", @placeholder="XXX.XXX.XXX-XX"})
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="endereco">Endereço</label>
                        @Html.TextBoxFor(model => model.endereco, new { @class = "form-control", @placeholder="Endereço" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.id)
                @Html.AntiForgeryToken()
                <input type="submit" value="Enviar" class="enviar">
            </div>
        </div>
    }
    <script src="/js/controle.js"></script>
</body>
</html>
