@using FrontVenda.Models


@model FrontVenda.Models.Fornecedor

<body>
    @if (ViewBag.Alerta != string.Empty && ViewBag.Alerta != null)
    {
        <script type="text/javascript">
            alert('@ViewBag.Alerta');
        </script>
    }
    <h3 id="divTitulo">Cadastro</h3>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="nomeFornecedor">Nome do Fornecedor</label>
                    @Html.TextBoxFor(model => model.nome, new { @class = "form-control",@required="required",@placeholder="Nome do Fornecedor", @value=Model.nome})
                </div>
                <div class="form-group">
                    <label class="control-label" for="telefone">Telefone</label>
                    @Html.TextBoxFor(model => model.telefone, new { @class = "form-control",@required="required" , @placeholder="XXXXXXX-XXXX", @value=Model.telefone})
                    <div class="form-group">
                        <label class="control-label" for="endereco">Endereço</label>
                        @Html.TextBoxFor(model => model.endereco, new { @class = "form-control",@required="required", @placeholder="Endereço" , @value=Model.endereco})
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cnpj">CNPJ</label>
                    @Html.TextBoxFor(model => model.cnpj, new { @class = "form-control validaDesabilita",@required="required", @placeholder="XX.XXX.XXX/XXXX-XX", @value=Model.cnpj})
                </div>
            </div>
            @Html.HiddenFor(model => model.id , new {@value=Model.id})
            @Html.AntiForgeryToken()

            <div>
                <button class="btn btn-primary" id="btnEnviar" onclick="cadastroFornecedor()">Enviar</button>
            </div>
            <div id="aa">
                <button class="btn btn-primary" id="btnVoltar" onclick="openInNewTab('/Fornecedor/ExibeFornecedor')">Voltar</button>
            </div>
        </div>
    </div>

    <script src="/js/fornecedor.js"></script>
    <script>
        document.getElementById('fornecedor').classList.add('active');

        document.getElementById('funcionario').classList.remove('active');
        document.getElementById('cliente').classList.remove('avtive');
        document.getElementById('produto').classList.remove('active');
    </script>
</body>
