@using FrontVenda.Models


@model FrontVenda.Models.Fornecedor

<body>
    @if (ViewBag.Alerta != string.Empty && ViewBag.Alerta != null)
    {
        <script type="text/javascript">
            alert('@ViewBag.Alerta');
        </script>
    }
    @if(ViewData["Titulo"]!= null)
    {
        <h3> @ViewData["Titulo"]</h3>
    }
    else
    {
        <h3>Cadastro</h3>
    }
    @using (Html.BeginForm("CadastroFornecedorForm", "Fornecedor", FormMethod.Post))
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="nomeFornecedor">Nome do Fornecedor</label>
                        @Html.TextBoxFor(model => model.nome, new { @class = "form-control" ,@placeholder="Nome do Fornecedor", @value=Model.nome})
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="telefone">Telefone</label>
                        @Html.TextBoxFor(model => model.telefone, new { @class = "form-control" , @placeholder="XXXXXXX-XXXX", @value=Model.telefone})
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="cnpj">CNPJ</label>
                        @Html.TextBoxFor(model => model.cnpj, new { @class = "form-control", @placeholder="XX.XXX.XXX/XXXX-XX", @value=Model.cnpj})
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="endereco">Endereço</label>
                        @Html.TextBoxFor(model => model.endereco, new { @class = "form-control", @placeholder="Endereço" , @value=Model.endereco})
                    </div>
                </div>
                @Html.HiddenFor(model => model.id , new {@value=Model.id})
                @Html.AntiForgeryToken()

                <div>
                    <input type="submit" value="Enviar" class="enviar btn btn-primary">

                </div>
                <div id="aa">
                    <a class="voltar" asp-controller="Fornecedor" asp-action="ExibeFornecedor">Voltar</a>
                </div>
            </div>
        </div>
    }
    <script>
        document.getElementById('fornecedor').classList.add('active');

        document.getElementById('funcionario').classList.remove('active');
        document.getElementById('cliente').classList.remove('avtive');
        document.getElementById('produto').classList.remove('active');
    </script>
</body>
