@model List<Fornecedor>;

<body>
    @if (ViewBag.Alerta != string.Empty && ViewBag.Alerta != null)
    {
        <script type="text/javascript">
            alert('@ViewBag.Alerta');
        </script>
    }
    <h1 class="titulo-principal">Fornecedores</h1>
    <section class="lista">
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col" style="width:5%">Id</th>
                    <th scope="col" style="width:20%">Nome</th>
                    <th scope="col" style="width:15%">CNPJ</th>
                    <th scope="col" style="width:15%">Telefone</th>
                    <th scope="col" style="width:30%">Endereço</th>
                    <th scope="col" style="width:7%"></th>
                    <th scope="col" style="width:7%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.id)</td>
                        <td>@Html.DisplayFor(modelItem => item.nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.cnpj)</td>
                        <td>@Html.DisplayFor(modelItem => item.telefone)</td>
                        <td>@Html.DisplayFor(modelItem => item.endereco)</td>
                        <td>  
                            @Html.ActionLink(
                                " ",
                                "EditarFornecedor",
                                "Fornecedor",
                                new {id = item.id},
                                new {@class="btn btn-default fa fa-pencil"}
                            )
                        </td>
                        <td>
                            @Html.ActionLink(
                                " ",
                                "ExcluirFornecedor",
                                "Fornecedor",
                                new {id = item.id},
                                new {@class="btn btn-default fa fa-trash"}
                            )
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <div id="botao-cadastrar">
        <a class="btn btn-primary" asp-controller="Fornecedor" asp-action="CadastroFornecedor">CADASTRAR</a>
    </div>    
    <script>
        document.getElementById('fornecedor').classList.add('active');

        document.getElementById('funcionario').classList.remove('active');
        document.getElementById('cliente').classList.remove('avtive');
        document.getElementById('produto').classList.remove('active');
    </script>
</body>