@model List<Produto>;

<body>
    <h1 class="titulo-principal">Produtos</h1>
    <section class="lista">
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col" style="width:5%">Id</th>
                    <th scope="col" style="width:25%">Nome</th>
                    <th scope="col" style="width:20%">Descrição</th>
                    <th scope="col" style="width:15%">Preço(un.)</th>
                    <th scope="col" style="width:15%">Estoque(un.)</th>
                    <th scope="col" style="width:10%"></th>
                    <th scope="col" style="width:10%"></th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.id)</td>
                        <td>@Html.DisplayFor(modelItem => item.nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.descricao)</td>
                        <td>@Html.DisplayFor(modelItem => item.precoUnitario)</td>
                        <td>@Html.DisplayFor(modelItem => item.quantidadeEstoque)</td>
                        <td>  
                            @Html.ActionLink(
                                " ",
                                "EditarProduto",
                                "Produto",
                                new {id = item.id},
                                new {@class="btn btn-default fa fa-pencil"}
                            )
                        </td>
                        <td>
                            @Html.ActionLink(
                                " ",
                                "ExcluirProduto",
                                "Produto",
                                new {id = item.id},
                                new {@class="btn btn-default fa fa-trash"}
                            )
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <div id="botao-cadastrar">
        <a class="btn btn-primary" asp-controller="Produto" asp-action="CadastroProduto">CADASTRAR</a>
    </div>
   <script>
        document.getElementById('produto').classList.add('active');

        document.getElementById('funcionario').classList.remove('active');
        document.getElementById('fornecedor').classList.remove('active');
        document.getElementById('cliente').classList.remove('active');
    </script>
</body>