@model List<Produto>;

<body>
    <h1 class="titulo-principal">Produtos</h1>
    <section class="lista">
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col" style="width:5%">Id</th>
                    <th scope="col" style="width:25%">Nome</th>
                    <th scope="col" style="width:20%">Descrição</th>
                    <th scope="col" style="width:15%">Preço(un.)</th>
                    <th scope="col" style="width:15%">Estoque(un.)</th>
                    <th scope="col" style="width:10%"></th>
                    <th scope="col" style="width:10%"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="tr-table-@item.id">
                        <td>@Html.DisplayFor(modelItem => item.id)</td>
                        <td>@Html.DisplayFor(modelItem => item.nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.descricao)</td>
                        <td>@Html.DisplayFor(modelItem => item.precoUnitario)</td>
                        <td>@Html.DisplayFor(modelItem => item.quantidadeEstoque)</td>
                        <td>
                            <button class="btn btn-default fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Editar" id="botao-editar" onclick="openInNewTab('/Produto/EditarProduto?id=@item.id')"></button>
                        </td>
                        <td>
                            <button class="btn btn-default fa fa-trash" data-toggle="tooltip" data-placement="top" title="Excluir" id="botao-excluir" onclick="excluirProduto(@item.id)"></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <div id="botao-cadastrar">
        <a class="btn btn-primary" asp-controller="Produto" asp-action="CadastroProduto">CADASTRAR</a>
    </div>
    <script src="/js/produto.js"></script>
    <script>
        document.getElementById('produto').classList.add('active');

        document.getElementById('funcionario').classList.remove('active');
        document.getElementById('fornecedor').classList.remove('active');
        document.getElementById('cliente').classList.remove('active');
    </script>
</body>