@model List<Cliente>;

<body>
    @if(ViewBag.Alerta != string.Empty && ViewBag.Alerta != null)
    {
        <script type="text/javascript">
            alert('@ViewBag.Alerta');
            </script>
    }
    <h1 class="titulo-principal">Clientes</h1>
    <section class="lista">
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col" style="width:5%">Id</th>
                    <th scope="col" style="width:20%">Nome</th>
                    <th scope="col" style="width:15%">CPF</th>
                    <th scope="col" style="width:15%">Telefone</th>
                    <th scope="col" style="width:35%">Endereço</th>
                    <th scope="col" style="width:10%"></th>
                    <th scope="col" style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.id)</td>
                        <td>@Html.DisplayFor(modelItem => item.nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.cpf)</td>
                        <td>@Html.DisplayFor(modelItem => item.telefone)</td>
                        <td>@Html.DisplayFor(modelItem => item.endereco)</td>
                        <td>  
                            @Html.ActionLink(
                                " ",
                                "EditarCliente",
                                "Cliente",
                                new {id = item.id},
                                new {@class="btn btn-default fa fa-pencil"}
                            )
                        </td>
                        <td>
                            @Html.ActionLink(
                                " ",
                                "ExcluirCliente",
                                "Cliente",
                                new {id = item.id},
                                new {@class="btn btn-default fa fa-trash"}
                            )
                        </td>
                    </tr>
                }                
            </tbody>
        </table>
    </section>
    <div id="botao-cadastrar">

        <a class="btn btn-primary" asp-controller="Cliente" asp-action="CadastroCliente">CADASTRAR</a>

    </div>
    <script>
        document.getElementById('cliente').classList.add('active'); // Adiciona classe

        document.getElementById('funcionario').classList.remove('active'); // Remove classe
        document.getElementById('fornecedor').classList.remove('active');
        document.getElementById('produto').classList.remove('active');
    </script>
</body>
